<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehave">
          <serviceMetadata  httpGetEnabled="true" />

        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WCFDeliveryExpress.DeliveryService" behaviorConfiguration="mexBehave">
        <endpoint address="DeliveryService" binding="basicHttpBinding" contract="WCFDeliveryExpress.IDeliveryService">

        </endpoint>
        <endpoint address="DeliveryService" binding="netTcpBinding" contract="WCFDeliveryExpress.IDeliveryService">

        </endpoint>


        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9202" />
            <add baseAddress="net.tcp://localhost:9201" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>